# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.output
*.app

# Output plots
*.png
*.pdf
*.eps

# Gnuplot/GLE scripts
*.gp
*.gle

# Output files
*.out
*.dat
*.csv
*.bin
*.z
*.txt
run

# Input files
*.in

# Output data folder
!/output/GnuplotScripts/*.gp
!/output

# Idea files
.idea/

# vsCode files
.vscode/

# Temporary files
*.BAK
*.bak
*.backup
*.tmp
tmp/